body {
  font: 400 18px helvetica, sans-serif;
  color: #100101;
  margin: 0;
  padding: 50px;
  background: white;
  /* border: 2px black solid; */

}

/* Just the UL styling all you need */
nav {
  margin: 10px;
  padding: 10px;
  /* margin-left: 50px; */
  display: flex;
  gap: 2rem;
  border: 2px orange solid;
  padding: 10px;

}

.search {
  margin: 0;
  display: flex;

}
.search-field {
  width: 100%;
}

ul.books {

  /* width: 600px; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* border: 3px solid blue */
}

/* li {
  margin: 10px;
  border: 2px violet solid;
  padding: 20px;
  /* border-radius: 50px; */
/* list-style: none;
} */
*/ li:before {
  float: left;
  display: block;
  /* content: '\01F49B'; */
  /* margin: 0 30px 0 0; */
  /* border: 5px solid red */
}


form {
  margin: 10px;
  padding: 10px;
  border: 2px green solid;
}

Input {
  width: 10%;
}




/* li {
  line-height: 1.5;
  text-indent: -30px;
  padding: 8px 0 8px 30px;
  border: 3px solid green

} */

/* .commentsList {
  border: 3px solid red
} */


.navigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}


.navigationBarList {
  float: left;
}

/* navigation bar anchors */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: red;
}

.active {
  background-color: #04AA6D;
}

/* .bookshelf {
  border: 3px solid red
  
} */


.commentsSection {
  border: 2px red solid;
  border-radius: 25px;
 
}

.comments-input {
  width: 50%;
  margin: 10px 
  
}


/* these are individual books */
.bookList {

  border: 2px black solid;
  border-radius: 25px;
  padding: 7px 8px;
  list-style-type: none;
}


li {
  border: 2px #333 solid;
  border-radius: 25px;
  padding: 7px 8px;
 
}

/* not needed */
/* .commentsList 
{
  border: 2px purple solid;
  border-radius: 25px;
} */